body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 32px;
    color: #00233b;
    font-weight: 400;
}

.index-container{
    margin: 25px 17rem;
}

.seccion-texto{
    display: flex;
    justify-content: space-between;
    margin: 1em 2.5%;
}

.seccion-texto a{
    margin-left: 5px;
    text-decoration: none;
    color: #1779BA;
}

.seccion-texto span{
    margin-left: 5px;
    color: #CACACA;
}

.first-container{
    display: flex;
    justify-content: space-between;
    margin: 2em 3%;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-student{
    width: auto;
    border-radius: 25px 25px 0 0;
}

.left-container{
    width: 40%;
    justify-content: flex-start;
}

.title-container{
    text-align: left;
    position: relative;
    margin-bottom: 40px;
}

.title-container span{
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
    border: 1px solid #ff6600;
    padding: 5px 41px;
    border-radius: 18px;
    background: #ff6600;
    margin-left: 35%;
}

.big-title{
    font-size: 6em;
    line-height: 65px;
    font-weight: 750;
    color: #00233b;
}

header.container {
    display: flex;
    align-items: center;
    position: relative;
}
.container{
    flex-wrap: wrap;
    width: 1400px;
    margin: 0 auto;
    max-width: calc(100% - 40px);
}
.search-btn {
    width: 42px;
    height: 42px;
    background: #f5f5f5 url(assets/img/search-icon-m.svg) no-repeat center center;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    cursor: pointer;
}
.text{
    font-size: 18px;
}

.text span{
    font-weight: bold;
}

.container-buttons{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-left: -15px;
}

.container-buttons button{
    margin: 10px;
    cursor: pointer;
}

.button-1{
    background-color: #ffffff;
    border-radius: 50px;
    color: #00233b;
    border: 1px solid #ff6600;
    padding: 18px 32px;
    min-width: 275px;
}

.button-1:hover{
    background-color: rgb(140, 56, 0);
    color: #ffffff;
}

.button-2{
    background: #ff6600;
    border-radius: 50px;
    color: #ffffff;
    padding: 18px 32px;
    min-width: 300px;
}

.button-2:hover{
    background-color: rgb(140, 56, 0);
    color: #1779BA;
}
.right-container-text{
    padding-top: 20px;
    text-align: left;
    background: #627989;
    width: 100%;
    color: #ffffff;
    font-size: 17px;
}

.right-container-text p{
    margin-top: -10px;
    margin-left: 20px;
}

.right-container-text span{
    font-weight: bold;
}
.close-icon {
    width: 50px;
    height: 50px;
    background: #dc3545 url(assets/img/close-con.svg) no-repeat center center;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 2;
}
.search-inner input[type="submit"] {
	background-color: rgb(255, 102, 0);
	border-radius: 0px;
	border-width: 0px;
	border-color: rgb(140, 140, 140);
	border-style: solid;
	padding: 18px 32px;
	color: rgb(255, 255, 255);
	font-size: 18px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: none;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 9px 0px;
	height: 64px;
	min-width: 218px;
	border-radius: 3px;
	margin-left: 15px;
}
input[type="submit"],
button,
input[type="button"] {
	background-color: rgb(255, 102, 0);
	border-radius: 0px;
	border-width: 0px;
	border-color: rgb(140, 140, 140);
	border-style: solid;
	padding: 18px 32px;
	color: rgb(255, 255, 255);
	font-size: 18px;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: none;
	/*box-shadow: rgb(0 0 0 / 20%) 0px 3px 9px 0px;*/
	height: 64px;
	min-width: 218px;
	cursor: pointer;
	transition: all 0.2s ease-in;
	border-radius: 3px;
}

/* Estilos para el menú de navegación */
nav ul {
    list-style-type: none;  /* Quitar viñetas */
    padding: 0;
    display: flex;          /* Mostrar en línea */
    gap: 20px;              /* Espacio entre elementos */
}

nav ul li a {
    text-decoration: none;  /* Sin subrayado por defecto */
    color: #333;            /* Color del texto */
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}
.main-menu{

    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-menu ul{

    list-style-type: none;  /* Quitar viñetas */
    padding: 0;
    display: flex;          /* Mostrar en línea */
    gap: 20px;              /* Espacio entre elementos */
   
}
.main-menu ul li a{

    text-decoration: none;  /* Sin subrayado por defecto */
    color: #333;            /* Color del texto */
    font-size: 18px;
}
.menu{
    font-weight: bold; /* Aplica negrita al texto */
}
